<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/index.css" type="text/css">
  <title>Vehicles</title>
</head>
<h2>All Vehicles</h2>
  <hr>
  <body>

    <div class="vehicle-container">

        <% if (!vehicles) { %>
          <div class="vehicle">No vehciles availiable</div>
        <% } else { %>

        <% vehicles.forEach(function(v) { %>
          <div class="vehicle"> 
            <p>Vehicle #: <%= v.id %></p>
            <strong><%= v.make %> <%= v.model %></strong><br>
            Color: <%= v.color %><br>
            <%= v.location_description %>
          </div>
        <% }) %>

        <% } %>
    </div>
  </body>
</html>